@charset "UTF-8";
/* CSS Document */

#board li {
	list-style-image: none;
	list-style-type: none;
	width: 35px;
	height: 35px;
	border: 1px solid #333;
}

.board-main {
	height: 336px; /*32*8*/
	width: 336px; /*32*8*/
	padding: 0;
}

.board-cell {
	float: left;
	text-align: center;
}

.board-row-first {
	clear: both;
}

	.board-cell-color-white {
		background-color: #ccc;
	}
	
	.board-cell-color-black {
		background-color: #333;
	}
	
.checker {
	width: 28px;
	height: 28px;
	
	border: 2px solid #ccc;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	background: #000000;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#000000), to(#424242));
	background: -webkit-linear-gradient(#000000, #424242);
	background: -moz-linear-gradient(#000000, #424242);
	background: -ms-linear-gradient(#000000, #424242);
	background: -o-linear-gradient(#000000, #424242);
	background: linear-gradient(#000000, #424242);
}

.checker-white {
	border: 2px solid #333;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	background: #fff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#b8b8b8));
	background: -webkit-linear-gradient(#fff, #b8b8b8);
	background: -moz-linear-gradient(#fff, #b8b8b8);
	background: -ms-linear-gradient(#fff, #b8b8b8);
	background: -o-linear-gradient(#fff, #b8b8b8);
	background: linear-gradient(#fff, #b8b8b8);
}
